body {
  z-index: -1;
  margin: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-size: 120%;
  
}

div.drop-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 200px;
  width: 200px;
}


div.drop {
  position: absolute;
  top: auto;
  left: 5%;
  width: 125%;
  height: 125%;
  border-radius: 100% 5% 100% 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0px;
  background: rgb(239, 69, 255);  
  -webkit-animation: drip 4s forwards;
          animation: drip 4s forwards;
}

h1 {
  color: white;
  position: absolute;
  font-size: 2.5em;
  height: 1em;
  top: 50%;
  left: 45%;
  z-index: 2;
  margin: auto;
  text-align: center;
  opacity: 0;
  -webkit-animation: appear 2s 2.5s forwards;
          animation: appear 2s 2.5s forwards;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div.drop-container:before,
div.drop-container:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 55%;
  right: 41%;
  -webkit-transform: translate(50%) rotateX(75deg);
          transform: translate(50%) rotateX(75deg);
  border-radius: 100%;
  opacity: 0;
  width: 75%;
  height: 75%;
  border: 5px solid rgb(235, 135, 210);
  -webkit-animation: dripple 2s ease-out 1s;
          animation: dripple 2s ease-out 1s;
}

div.drop-container:after {
  -webkit-animation: dripple 2s ease-out 1.7s;
          animation: dripple 2s ease-out 1.7s;
}

@-webkit-keyframes drip {
  45% {
    top: 0;
    border-radius: 100% 5% 100% 100%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-radius: 100%;
  }
}

@keyframes drip {
  45% {
    top: 0;
    border-radius: 100% 5% 100% 100%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-radius: 100%;
  }
}

@-webkit-keyframes dripple {
  0% {
    width: 150px;
    height: 150px;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 500px;
    height: 500px;
    top: -20%;
    opacity: 0;
  }
}

@keyframes dripple {
  0% {
    width: 150px;
    height: 150px;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 500px;
    height: 500px;
    top: -20%;
    opacity: 0;
  }
}